aside {
  grid-area: aside;
  min-width: 25rem;
  min-height: 100vh;
  background-color: $fake-black;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    cursor: pointer;
    margin: 3rem 0 5rem 0;
    background-image: url(../assets/images/logo.svg);
    background-repeat: no-repeat;
    width: 7.5rem;
    height: 6rem;
    border-radius: 10rem;
  }
  .aside__content {
    min-width: 80%;
    color: $fake-white;

    h1 {
      font-size: 2.5rem;
      margin: 2rem 0;
    }
    h2 {
      font-size: 2rem;
      margin: 1.5rem 0;
    }
    h3 {
      font-size: 1.5rem;
      margin: 1rem 0;
    }
  }
}
