.games {
  grid-area: games;
  padding: 10.5rem 3rem 0 28rem;
  input {
    background-color: rgba(0, 0, 0, 0.384);
    border: none;
    outline: none;
    padding: 1.5rem 6rem;
    font-size: 1.6rem;
    max-width: 20rem;
    border-radius: 0.75rem;
    color: $fake-white;
    position: fixed;
    top: 2.5%;
    right: calc(50% - 25rem);
    z-index: 999;
    &:focus {
      padding: 1.5rem 2.5rem;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}
