@font-face {
  font-family: 'Barlow';
  src: url(../assets/fonts/Barlow-Regular.ttf) format('truetype')
      font-weight-normal,
    url(../assets/fonts/Barlow-Bold.ttf) format('truetype') font-weight-bold;
}

$Barlow: 'Barlow', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  color: $fake-white;
}

body {
  background: $grey;
  min-height: 100vh;
  font-family: $Barlow;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

a {
  color: $fake-white;
}
