// @font-face {
//     font-family: "font-1";
//     src: url(../assets/fonts/JosefinSans-Medium.ttf);
//   }

//   $font-1: "font-1", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  color: $fake-white;
}

body {
  background: $grey;
  min-height: 100vh;
}

li {
  list-style-type: none;
}
